@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,600';

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* react-tooltip theme */
.cayTooltip {
  color: #222 !important;
  background-color: #fff !important;
  border: 1px solid #AAA;
  box-shadow: 0 0 10px #AAA;
  opacity: 1 !important;
}

/* react-datepicker shim */
.datepicker__tether-element {
  z-index: 3;
}

.react-datepicker__input-container input {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  width: 90%;
}
