
.mdl-data-table {
  table-layout:fixed;
  width:100%; 
}
.mdl-data-table td, th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.material-icons {
  vertical-align: -25%;
}
