
.mdl-data-table {
  table-layout:fixed;
  width:100%;
}
.mdl-data-table td, th {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.material-icons {
  vertical-align: -25%;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
  background-color: rgb(246, 125, 111);
}

.mdl-button--accent.mdl-button--accent {
  color: rgb(246, 125, 111);
}

.mdl-dialog__title {
  font-size: 1.2em;
}
